@charset "UTF-8";

/* Configuações para diferentes dispositivos */


@media screen and (min-width: 768px) and (max-width: 992px){
        body{
            
        }
        
        section#login{
             width: 620px;
        }
        
        div#imagen{
            
           
            
        }

        
        div#formulario{
            display: inline;
            
            
           
        }


}