@charset "UTF-8";



@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, var(--petroleo), rgb(5, 38, 76));
    }
    main > section#login{
        width: 80vw;
        height: 335px;
    }

    main > section#login > div#imagen{
        background-position:  center;
        float: left;
        width: 30%;
        height: 100%;
    }

    main > section#login > div#formulario{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px){

    body{
       background-image: linear-gradient(to bottom, var(--petroleo), rgb(5, 38, 76));
 
    }

    main > section#login{
        width: 950px;
        height: 375px;
    }

    main > section#login > div#imagen{
        float: right;
        width: 50%;
        height: 100%;
    }

    main > section#login > div#formulario{
        float: left;
        width: 50%;
    }

    main > section#login > div#formulario > h1{
        font-size: 2em;
    }

    main > section#login > div#formulario > p{
        font-size: 1.2em;
    }


}