@charset "UTF-8";

/* Paleta de cores
   Azul: #008de9
   Magno: #3b0d11
   Casca de Ovo: #faf3dd
*/

:root{
    --azul: #008de9;
    --petroleo: #729B79;
    --casca-ovo: #f8f4ea;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* faz com que a contagem comece direto pelo canto da tela */
}

html, body{
    background-color: var(--petroleo);
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

main > section#login{
    position: absolute;
    background-color: var(--casca-ovo);
    width: 250px;
    height: 535px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.278);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}


main > section#login > div#imagen{
    display: block;
    background: var(--petroleo) url('../imagens/login-stick.jpg') no-repeat left center fixed;
    background-size: cover;
    height: 200px;
}

main > section#login > div#formulario{
    display: block;
    padding: 10px;
}

main > section#login > div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

main > section#login > div#formulario > p{
    font-size: .8em;
    margin: 20px 0px;
}

form > input[type=submit]{
    display: block;
    background-color: var(--petroleo);
    color: white;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 7px;
    cursor: pointer;

}

form > input[type=submit]:hover{
    background-color: #4e6b53;
}

form >  div.campo > input{
    background-color: var(--casca-ovo);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border-radius: 7px;
    border: 1px solid var(--petroleo);
    padding-left: 10px;

    transform: translateY(-26%);
}

form > a.botao{
    display: block;
    background-color: white;
    color: var(--petroleo);
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: 1px solid var(--petroleo);
    border-radius: 7px;
    text-decoration: none;
    padding-top: 1px;
    margin-top: 5px;
    
}

form > a.botao > span{
    font-size: 1em;
}

form > div.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

span{
    font-variation-settings: 'FILL' 1;
}

form > div.campo{
    display: block;
    background-color: var(--petroleo);
    width:  100%;
    height: 40px;
    border-radius: 7px;
    margin: 5px 0px;
}

div.campo > label{
    display: none;
}


