@charset "UTF-8";

/* Paleta de cores
   Azul: #008de9
   Magno: #3b0d11
   Casca de Ovo: #faf3dd
*/

:root{
    --azul: #008de9;
    --petroleo: #729B79;
    --casca-ovo: #f8f4ea;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* faz com que a contagem comece direto pelo canto da tela */
}

html, body{
    background-color: var(--petroleo);
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

main > section#login{
    position: absolute;
    background-color: var(--casca-ovo);
    width: 250px;
    height: 500px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.278);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}


main > section#login > div#imagen{
    display: block;
    background: var(--petroleo) url('../imagens/login-stick.jpg') no-repeat left center fixed;
    background-size: cover;
    height: 200px;
}

main > section#login > div#formulario{
    display: block;
    padding: 10px;
}


