@charset "UTF-8";

/* Paleta de cores
   Azul: #008de9
   Magno: #3b0d11
   Casca de Ovo: #faf3dd
*/

:root{
    --azul: #008de9;
    --petroleo: #729B79;
    --casca-ovo: #f8f4ea;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

